::ng-deep .p-datatable-wrapper,
::ng-deep .ng-star-inserted td,
.ng-star-inserted td {
  overflow: visible !important;
}
::ng-deep .p-dropdown-items-wrapper {
  max-height: 230px !important;
}
th,
td {
  text-align: center;
}

::ng-deep .p-inputwrapper {
  width: 100% !important;
}
